.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.center-container {
  text-align: center;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 10px 15px;
  margin-left: 5px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

ul {
  list-style-type: disc; /* Add bullets to the list */
  padding-left: 20px;
}

li {
  margin-bottom: 5px;
}
.access-token-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  word-wrap: break-word; /* Ensure long words break to the next line */
  max-width: 100%; /* Ensure the box does not exceed the container width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
